<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}} Hi</title>
    
</head>
<body>
    {{> header}}
    <p>{{screamIt 'welcomeMessage'}}</p>

    {{> footer}} <!--Fetches views/partials/footer.hbs-->
</body>
</html>